*{
    padding: 8px;
    margin: 0px;
    font-family: 'Times New Roman';
    font-size: large;

}

body{
    background-color: #d29bfd;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #e3abf7;
    margin-bottom: 0px;
    border: darkorchid;
}

.in-flex div{
    padding: 25px;
    background-color: #e3abf7;
    margin: 20px;
}
p,li{
    margin: 5px;
    padding: 5px;
}
h1,h2{
    font-size: 30px;
    padding: 10px;
}
.corazon{
    font-size: 60px;
    padding: 10px;
}
